body {
  text-align: center;
  background-color: lightgrey !important;
  max-width: 1000px;
}

#bowlies-container {
  text-align: center;
  font-size: 20px;
}

b {
  float: left;
  text-align: left;
}

#bowlies-title {
  font-size: 25px;
  color: rgb(75, 75, 75);
  text-align: center;
}

#left-top-level-table-cell {
  min-width: 300px;
  max-width: 300px;
}

#win-loss-summary {
  color: dodgerblue;
}

#win-loss-summary, #bowlies-title, #bowlies-container .date {
  margin: 0 auto;
  text-align: center;
}

#bowlies-container {
  background-color: white;
  font-family:"Arial",sans-serif;
  color: rgb(75,75,75);
  padding: 5px;
  padding-top: 20px;
  text-align: center;
}

.goal-kickers, .best-players {
  text-align: left;
}

#bowlies-container span.label {
  display: inline-block;
  text-align: center;
  width: 100%;
}

#bowlies-container .goals {
  color: magenta;
  padding: 2px;
}

.bp-position {
  color: magenta;
}

.spacer {
  display:block;
  height: 10px;
}

.location-logo-row td {
  padding-top: 10px;
}

.location-logo {
  height: 20px;
  display: inline;
  float: left;
}

#bowlies-container .logo {
  width: 50px;
}

#bowlies-container .result {
  text-align: center;
  padding: 8px 0px;
}

#bowlies-container table, #bowlies-container td, #bowlies-container tr {
  border: 0px;
  color: rgb(75,75,75);
}

#bowlies-container {
  background-color: lightgrey;
  color: rgb(75,75,75);
}

#bowlies-container .score {
  color: dodgerblue;
  font-family: courier;
}

.bowlies-table {
  display: inline-block;
}

.bowlies-game:nth-child(even) {
  background-color: rgb(30,30,30);
  color: rgb(200,200,200)
}

.bowlies-game {
  padding: 10px 5px;
}

#bowlies-container .date {
  text-align: center;
  color: grey;
}

#bowlies-container .label {
  padding-right: 12px;
  padding-top: 10px;
}

#bowlies-container .bottom-divider > td {
  padding-bottom: 10px;
}

#bowlies-container .top-divider td {
  padding-top: 10px;
}

#bowlies-container .icons td {
  padding-bottom: 0px;
  padding-top: 0px;
  border: 0px;
  padding-left: 10px;
}

.nickname {
  font-weight: bold;
}

.location-pin {
  max-height: 20px !important;
}

.bowlies-game:nth-child(even) .dull {
  opacity: 0.4;
}

.bowlies-game:nth-child(odd) .dull {
  opacity: 0.6;
}

#bowlies-container .uni-logo, #bowlies-container .opposition-logo {
  height: 50px;
}

#bowlies-container .uni-logo {
  height: 60px;
}

#bowlies-container .results-table {
  text-align: center;
  width: 100%;
  margin-top: 15px
}

.error-message {
  background-color: red;
  color: white;
  padding: 3px;
}

.bigger {
  font-size: 1.3em;
}

.dull {
  font-size: 0.7em;
}

.sandy-coburn-cup-points {
  font-size: 0.7em;
  color: seagreen;
}

.label {
  font-size: 1em;
}

.final-name {
  color: dodgerblue;
}