#bowlies-content-container {
  text-align: center;
  font-size: 20px;
}

b {
  float: left;
  text-align: left;
}

#bowlies-title {
  font-size: 25px;
  color: rgb(75, 75, 75);
  text-align: center;
}

#left-top-level-table-cell {
  min-width: 300px;
  max-width: 300px;
}

#bowlies-content-container #win-loss-summary {
  color: rgba(75, 75, 75);
  background-color: rgba(255,255,0,0.5);
}

#bowlies-content-container #win-loss-summary,
#bowlies-title,
#bowlies-content-container .date {
  margin: 0 auto;
  text-align: center;
}

#bowlies-content-container {
  background-color: white;
  font-family: "Arial", sans-serif;
  color: rgb(75, 75, 75);
  padding: 5px;
  padding-top: 20px;
  text-align: center;
}

.goal-kickers,
.best-players {
  text-align: left;
}

#bowlies-content-container span.label {
  display: inline-block;
  text-align: center;
  width: 100%;
}

#bowlies-content-container .goals {
  color: magenta;
  padding: 2px;
}

.bp-position {
  color: magenta;
}

.spacer {
  display: block;
  height: 10px;
}

.location-logo-row td {
  padding-top: 10px;
}

.location-logo {
  height: 20px;
  display: inline;
  float: left;
}

#bowlies-content-container .logo {
  width: 50px;
}

#bowlies-content-container .result {
  text-align: center;
  padding: 8px 0px;
}

#bowlies-content-container table,
#bowlies-content-container td,
#bowlies-content-container tr {
  border: 0px;
  color: rgb(75, 75, 75);
}

#bowlies-content-container {
  background-color: lightgrey;
  color: rgb(75, 75, 75);
}

#bowlies-content-container .score {
  color: dodgerblue;
  font-family: courier;
  font-size: 20px;
}

.bowlies-game:nth-child(even) {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
}

.bowlies-game {
  padding: 10px 5px;
}

#bowlies-content-container .date {
  text-align: center;
  color: grey;
}

#bowlies-content-container .label {
  padding-right: 12px;
  padding-top: 10px;
}

#bowlies-content-container .bottom-divider > td {
  padding-bottom: 10px;
}

#bowlies-content-container .top-divider td {
  padding-top: 10px;
}

#bowlies-content-container .icons td {
  padding-bottom: 0px;
  padding-top: 0px;
  border: 0px;
  padding-left: 10px;
}

.nickname {
  font-weight: bold;
}

.location-pin {
  max-height: 20px !important;
}

.bowlies-game:nth-child(even) .dull {
  opacity: 0.4;
}

.bowlies-game:nth-child(odd) .dull {
  opacity: 0.6;
}

#bowlies-content-container .uni-logo,
#bowlies-content-container .opposition-logo {
  height: 50px;
}

#bowlies-content-container .uni-logo {
  height: 60px;
}

#bowlies-content-container .results-table {
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

.error-message {
  background-color: red;
  color: white;
  padding: 3px;
}

.substandard-error {
  padding: 10px !important;
  background-color: rgba(255,0,0,0.8) !important;
}

.bigger {
  font-size: 1.3em;
}

.dull {
  font-size: 0.7em;
}

.sandy-coburn-cup-points {
  font-size: 0.7em;
  color: seagreen;
}

.label {
  font-size: 1em;
}

.final-name {
  color: black;
  background-color: yellow;
  opacity: 0.8 !important;
  padding: 3px;
}

.summary-message {
  padding: 10px !important;
  border-radius: 10px;
  margin: 0 auto;
  width: fit-content;
}