body {
  text-align: center;
  background-color: lightgrey !important;
  max-width: 1000px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

input[type="number"] {
  width: 50px;
}

.input-data-table {
  display: inline-block;
}
