body {
  text-align: center;
  background-color: lightgrey !important;
  max-width: 1000px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

input[type="number"] {
  width: 50px;
}

.input-data-table {
  display: inline-block;
}

.substandard-error {
  background-color: red;
}

.no-errors-found {
  background-color: limegreen;
}

.substandard-error, .no-errors-found {
  margin: 5px;
  display: block;
  width:fit-content;
  margin: 5px auto;
  color: white;
  padding: 3px
}