#past-games-container, #future-games-container {
  width: 600px;
  background-color: white;
  font-family:"Arial",sans-serif;
  color: rgb(75,75,75);
  padding: 20px;
  padding-top: 0px;
}

#past-games-container table, #past-games-container td, #past-games-container tr {
  border: 0px;
  color: rgb(75,75,75);
}

#past-games-container .past-game {
  width: 100%;
  background-color: transparent;
  color: rgb(75,75,75);
}

#past-games-container #past-games-title {
  font-size: 25px;
  color: rgb(75, 75, 75);
  text-align: center;
}

#past-games-container img {
  max-height: 55px;
  max-width: 60px;
}

#past-games-container .icons img {
  max-height: 20px;
  padding-right: 3px;
}

#past-games-container .icons img, #pasts-games-container .icons p {
  display: inline;
 }

 #past-games-container .icons {
   max-width: 110px;
   font-size: 14px;
 }

#past-games-container .date {
  text-align: center;
  color: grey;
  font-size: 17px;
}

#past-games-container .result {
  min-width: 80px;
}

#past-games-container .right {
  text-align: right;
}

#past-games-container  .centre {
  text-align: center; 
}

#past-games-container .indent td {
  padding-left: 15px;
  padding-top: 4px;
}

#past-games-container .expand {
  width: 52%;
  padding: 4px;
}

#past-games-container .future-expand {
  width: 25%;
  padding: 4px;
}

#past-games-container .label {
  padding-right: 12px;
  padding-top: 5px;
}

#past-games-container .bottom-divider > td {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

#past-games-container .top-divider td {
  padding-top: 10px;
}

#past-games-container .icons td {
  padding-bottom: 0px;
  padding-top: 0px;
  border: 0px;
  padding-left: 10px;
}

#past-games-container #round-number {
  width: 80px;
  font-size: 14px;
}

#future-games-container {
  background-color: white;
  font-family:"Arial",sans-serif;
  color: rgb(75,75,75);
  padding: 20px;
  padding-top: 0px;
}

#future-games-container table, #future-games-container td, #future-games-container tr {
  border: 0px;
  color: rgb(75,75,75);
}

#future-games-container .future-game {
  width: 100%;
  background-color: transparent;
  color: rgb(75,75,75);
}

#future-games-title {
  font-size: 25px;
  color: rgb(75, 75, 75);
  text-align: center;
}

#future-games-container img {
  max-height: 55px;
  max-width: 60px;
}

#future-games-container .icons img {
  max-height: 20px;
  padding-right: 3px;
}

#future-games-container .icons img, #future-games-container .icons p {
  display: inline;
 }

 #future-games-container .icons {
   max-width: 110px;
   font-size: 14px;
 }

#future-games-container .date {
  text-align: center;
  color: grey;
  font-size: 17px;
}

#future-games-container #result {
  min-width: 80px;
}

#future-games-container .right {
  text-align: right;
}

#future-games-container .centre {
  text-align: center; 
}

#future-games-container .indent td {
  padding-left: 15px;
  padding-top: 4px;
}

#future-games-container .expand {
  width: 52%;
  padding: 4px;
}

#future-games-container .future-expand {
  width: 25%;
  padding: 4px;
}

#future-games-container .label {
  padding-right: 12px;
  padding-top: 5px;
}

#future-games-container .bottom-divider > td {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

#future-games-container .top-divider td {
  padding-top: 10px;
}

#future-games-container .icons td {
  padding-bottom: 0px;
  padding-top: 0px;
  border: 0px;
  padding-left: 10px;
}

#future-games-container #round-number {
  width: 80px;
  font-size: 14px;
}
