#substandard-fixtures-container b {
  text-align: center !important;
}

#substandard-fixtures-container {
  max-width: 550px !important;
  background-color: white;
  font-family: "Arial", sans-serif;
  color: rgb(75, 75, 75);
  padding-top: 0px;
}

#substandard-fixtures-container table,
#substandard-fixtures-container td,
#substandard-fixtures-container tr {
  border: 0px;
  color: rgb(75, 75, 75);
}

#substandard-fixtures-container .future-game {
  width: 100%;
  background-color: transparent;
  color: rgb(75, 75, 75);
}

#future-games-title {
  font-size: 25px;
  color: rgb(75, 75, 75);
  text-align: center;
}

#substandard-fixtures-container img {
  max-height: 55px;
  max-width: 60px;
}

#substandard-fixtures-container .icons img {
  max-height: 20px;
  padding-right: 3px;
}

#substandard-fixtures-container .icons img,
#substandard-fixtures-container .icons p {
  display: inline;
}

#substandard-fixtures-container .icons {
  max-width: 110px;
  font-size: 14px;
}

#substandard-fixtures-container .date {
  text-align: center;
  color: grey;
  font-size: 17px;
  padding-top: 20px;
}

#substandard-fixtures-container .date:empty {
  padding: 0px;
  margin: 0px;
}

#substandard-fixtures-container #result {
  min-width: 80px;
}

#substandard-fixtures-container .right {
  text-align: right;
}

#substandard-fixtures-container .centre {
  text-align: center;
}

#substandard-fixtures-container .expand {
  width: 52%;
  padding: 4px;
}

#substandard-fixtures-container .future-expand {
  width: 25%;
  padding: 4px;
}

#substandard-fixtures-container .label {
  padding-right: 12px;
  padding-top: 5px;
}

#substandard-fixtures-container .bottom-divider > td {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

#substandard-fixtures-container .top-divider td {
  padding-top: 10px;
}

#substandard-fixtures-container .icons td {
  padding-bottom: 0px;
  padding-top: 0px;
  border: 0px;
  padding-left: 10px;
}

#substandard-fixtures-container #round-number {
  width: 80px;
  font-size: 14px;
}

#substandard-fixtures-container .nickname {
  font-weight: bold;
}

.bye {
  text-align: center;
}
