#substandard-results-container {
  margin: 0 auto;
  padding: 27px;
  padding-left:15px;
  width: 550px;
  background-color: white;
  font-family: "Arial", sans-serif;
  color: rgb(75, 75, 75);
  line-height: 1.4
}

#substandard-results-container table,
#substandard-results-container td,
#substandard-results-container tr {
  border: 0px;
  color: rgb(75, 75, 75);
}

#substandard-results-container .past-game {
  width: 100%;
  background-color: transparent;
  color: rgb(75, 75, 75);
}

#substandard-results-container #substandard-results-title {
  font-size: 23px;
  display: block;
  color: rgb(75, 75, 75);
  text-align: center; 
  margin: 0 auto;
  font-style: italic;
  padding: 5px;
}

#substandard-results-container img {
  max-height: 55px;
  max-width: 60px;
}

#substandard-results-container .nickname,
#substandard-results-container .score {
  padding-left: 3px;
}

#substandard-results-container .opposition-nickname,
#substandard-results-container .opposition-score {
  padding-left: 0px;
  padding-right: 3px;
}

#substandard-results-container .icons img {
  max-height: 20px;
  padding-right: 3px;
}

#substandard-results-container .icons img,
#pasts-games-container .icons p {
  display: inline;
}

#substandard-results-container .icons {
  max-width: 110px;
  font-size: 14px;
}

#substandard-results-container .date {
  text-align: center;
  color: grey;
  font-size: 17px;
  padding-top: 20px;
}

#substandard-results-container .date:empty {
  padding: 0px;
  margin: 0px;
}

#substandard-results-container .result {
  min-width: 80px;
  text-align: center;
}

#substandard-results-container .match-name {
  text-align: center;
  margin: 0;
    background-color: rgba(255,255,0, 0.6);
  padding: 2px;
  font-size: 14px;
}

#substandard-results-container .right {
  text-align: right;
}

#substandard-results-container .centre {
  text-align: center;
}

#substandard-results-container .expand {
  width: 52%;
  padding: 4px;
}

#substandard-results-container .future-expand {
  width: 25%;
  padding: 4px;
}

#substandard-results-container .dull {
  font-size: 14px;
  color: rgb(150,150,150);
  font-style: italic
}

#substandard-results-container .label {
  padding-right: 12px;
  padding-top: 5px;
    font-size: 14px;
  color: rgb(150,150,150);
  font-style: italic;
  font-size: 15px;
}

#substandard-results-container .goal-kickers,
#substandard-results-container .best-players {
  font-size: 15px;
}

#substandard-results-container .bottom-divider > td {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

#substandard-results-container .top-divider td {
  padding-top: 10px;
}

#substandard-results-container .icons td {
  padding-bottom: 0px;
  padding-top: 0px;
  border: 0px;
  padding-left: 10px;
}

#substandard-results-container #round-number {
  width: 80px;
  font-size: 14px;
}

#substandard-results-container .nickname {
  font-weight: bold;
}

.win-loss-summary {
  margin: 0 auto;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: darkgrey;
}

#substandard-results-container .score {
  color: rgb(150,150,150);
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
}

#substandard-results-container td {
  padding-top: 5px;
}